<div class="nebula-background" aria-hidden="true">
  <div class="nebula-background__orbit nebula-background__orbit--one"></div>
  <div class="nebula-background__orbit nebula-background__orbit--two"></div>
  <div class="nebula-background__blob nebula-background__blob--one"></div>
  <div class="nebula-background__blob nebula-background__blob--two"></div>
  <div class="nebula-background__blob nebula-background__blob--three"></div>
  <div class="nebula-background__blob nebula-background__blob--four"></div>
  <div class="nebula-background__veil"></div>
  <div class="nebula-background__grain"></div>
</div>
